/**nav {padding-right: 50px;
padding-left: 50px;}


.Appcontainer{
	border-style: solid;
    border-radius: 6px;
    border-color: blue;
	display:flex;

	flex-direction:column;
	background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}
.transport {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-color: green;
    border-style: solid;
    border-radius: 6px;
	 }

.bpm{
	display:flex;
	flex-direction: column;
	align-items: center;
}*/

/*snippet bpm */

/*.count-input {
  position: relative;
  width: 100%;
  max-width: 100px;
  margin: 10px 0;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}*/