html {
  font-size: 10px;
  /*background: bottom center;
  background-size: cover;*/
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.arpegioSelector{
   display: flex;
   flex-direction: column;
   width: 90%;
}
.melodyBox {
    width: 88.5%;
    height: 200px;
}
.arpegioInfo{
  width: 20%;
}
.arpegioBox {
    width: 88.5%;
    height: 20%;
}
.melodyDiv{
    display: flex;
    border-style: solid;
    border-radius: 6px;
    color: #999999;
    flex-direction: row;
    width: 400px;
}
}
.selection{text-align: center;}
.selectionArpegio{
  width: 20px;

}
 .parameters {
  display: flex;
  flex: 1;
  /*min-height: 100vh;*/
  align-items: center;
  justify-content: center;
}
.notesInfo{display: flex;
flex-direction: column; 
width: 11%;}
.keys {
  display: flex;
  /*flex: 1;*/
  /*min-height: 100vh;*/
  align-items: center;
  justify-content: center;
}

.key {
  border: 2px solid black;
  border-radius: 3px;
  margin: 2.5px;
  font-size: 1.5rem;
  /*padding: 1rem .5rem;*/
  width: 33px;
  height: 20px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

p {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  /*text-transform: uppercase;*/
  letter-spacing: .1rem;
  color: #ffc600;
}