nav {
    padding-right: 50px;
    padding-left: 50px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding: 7px 0 7px 0;
}



.divControl {
    display: flex;
    justify-content: row;
}

.melodySettings {}

.Appcontainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 1300px;
    margin: 0 auto;
}

.transport,
.controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: #a6a6a6;
    padding: 7px 0 7px 20px;
    border-bottom: 1px solid #7f7f7f;
}

.bpm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}


/* snippet bpm */

.count-input {
    position: relative;
    width: 100%;
    max-width: 100px;
    margin: 10px 0;
}

.count-input input {
    width: 100%;
    height: 36.92307692px;
    border: 1px solid #000;
    border-radius: 2px;
    background: none;
    text-align: center;
}

.count-input input:focus {
    outline: none;
}

.count-input .incr-btn {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    top: 50%;
    right: 0;
    margin-top: -15px;
    text-decoration: none;
}

.count-input .incr-btn:first-child {
    right: auto;
    left: 0;
    top: 46%;
}

.count-input.count-input-sm {
    max-width: 125px;
}

.count-input.count-input-sm input {
    height: 36px;
}

.count-input.count-input-lg {
    max-width: 200px;
}

.count-input.count-input-lg input {
    height: 70px;
    border-radius: 3px;
}


/*-------------------------*/

.logo {
    margin-top: 5px;
    display: inline-block;
    width: 150px;
    height: 45px;
    margin-right: 0px;
    padding-left: 20px;
}

.logo img {
    display: block;
    max-width: 150px;
    max-height: 45px;
    width: auto;
    height: auto;
}


/* .mute img{

  display: block;
  max-width:99px;
  max-height:69px;
  width: auto;
  height: auto;
}*/

.bpmResult {
    display: flex;
    flex-direction: row;
}

.musicSection {
    display: flex;
    flex-direction: row;
    padding: 20px 10px 20px 15px;
    background: #f7f7f7;
    border-bottom: 1px solid #7f7f7f;
    /*justify-content: space-between;*/
}

@media(max-width: 692px) {
    .musicSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px 20px 15px;
        background: #f7f7f7;
        border-bottom: 1px solid #7f7f7f;
    }
    .titleRythm {
    display: none;
}

.titleMelody {
    display: none;
}

.titleControl {
   display: none;
}

}

.drumBoxes{display: flex;}

.drumMachineDiv {
    display: flex;
    flex-direction: row;
    margin-right: 67px;
}

.melodyCreator {
    display: flex;
    flex-direction: row;
    margin-right: 64px;
}

.titleRythm {
    color: black;
    width: 12%;
    position: relative;
    color: #a6a6a6;
    font-size: 0px;
}

.titleMelody {
    color: black;
    width: 12%;
    position: relative;
    color: #a6a6a6;
    font-size: 0px;
}

.titleControl {
    color: black;
    width: 12%;
    position: relative;
    color: #a6a6a6;
    font-size: 0px;
}

.melodyP {
    transform: rotate(270deg);
    transform-origin: right bottom;
    position: absolute;
    bottom: 110px;
    right: 0;
    font-size: 40px;
    margin-bottom: 25px;
}

.controlP {
    transform: rotate(270deg);
    transform-origin: right bottom;
    position: absolute;
    bottom: 110px;
    right: -5px;
    ;
    font-size: 40px;
    margin-bottom: 88px;
}

.titleRythm p {
    transform: rotate(270deg);
    transform-origin: right bottom;
    position: absolute;
    bottom: 110px;
    right: 0;
    font-size: 40px;
}

.drumInfo {
    display: flex;
    /* border-style: solid;
    border-radius: 6px;
    color: #999999;*/
    flex-direction: column;
    width: 100px;
}

.noteInfo {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    /* border-style: solid;
    border-radius: 6px;*/
    height: 50px;
    /*background-color: red;*/
}

.noteInfo img {
    display: block;
    max-width: 85px;
    max-height: 45px;
    width: auto;
    height: auto;
    /*background-color: red;*/
}

.sampleSelect img {
    display: block;
    max-width: 100px;
    max-height: 24px;
    width: auto;
    height: auto;
    /*background-color: red;*/
}

.sampleSelect {
    /* border-style: solid;
    border-radius: 6px;*/
    padding-left: 10px;
    height: 24px;
    /*background-color: red;*/
}

.mute {
    padding-left: 20px;
    height: 70px;
}

.InstrumentBox {
    display: flex;
    border-style: solid;
    border-radius: 6px;
    color: #999999;
    flex-direction: column;
    width: 100px;
    border-width: 2px;
    background: #fff;
    margin-right: 2px;
}

.Accent {
    display: flex;
    border-style: solid;
    border-radius: 6px;
    color: #ffc600;
    flex-direction: column;
    width: 100px;
    border-width: 2px;
    background: #fff;
    margin-right: 2px;
}

.drumMachineBox {
    width: 99%;
    height: 50px;
}

.muteDiv {
    display: flex;
    justify-content: center;
}

.kickMuteButton {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/kickLogoYellow.png) no-repeat;
}

.kickMuteButtonOff {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/kickLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}

.snareMuteButton {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/snareLogoYellow.png) no-repeat;
}

.snareMuteButtonOff {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/snareLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}

.hihatMuteButton {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/hihatLogoYellow.png) no-repeat;
}

.hihatMuteButtonOff {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/hihatLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}

.FXMuteButton {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fxLogoYellow.png) no-repeat;
}

.FXMuteButtonOff {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fxLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}

.muteSampleDiv {
    display: flex;
    justify-content: space-around;
    padding: 2px;
}

.SampleSelection {
    background: #ffc600;
    border: none;
    border-radius: 3px;
    font-family: Helvetica;
    color: #FFF;
    font-size: 10px;
    text-decoration: none;
    width: 32%;
    min-height: 20px;
}

.SampleSelectionOff {
    background: #999999;
    border: none;
    border-radius: 3px;
    font-family: Helvetica;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    width: 32%;
    min-height: 20px;
}


.controlPanel {
    display: flex;
    border-style: solid;
    border-radius: 6px;
    color: #999999;
    width: 300px;
    border-width: 2px;
    background: #fff;
    flex-direction:column;
    align-content:space-around;
}

.synthselect {}

.fxSelect {}

.crossfadeDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 3px;
}
.play {
   /* margin-left: 5px;
    border-left: 5px;*/
    /*border: none;*/
    width: 40px;
    height: 40px;
    background: url(../images/playButton.png) no-repeat;
}
.pause {
   /* margin-left: 5px;*/
   /* border: none;*/
    width: 40px;
    height: 40px;
    background: url(../images/pauseButton.png) no-repeat;
}

.drumMute {
    margin-left: 12px;
    border: none;
    width: 33px;
    height: 40px;
    background: url(../images/drumLogoYellow.png) no-repeat;
}

.drumMuteOff {
    margin-left: 12px;
    border: none;
    width: 33px;
    height: 40px;
    background: url(../images/drumLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}

.melodyMute {
    border: none;
    width: 40px;
    height: 40px;
    background: url(../images/synthLogoYellow.png) no-repeat;
}

.melodyMuteOff {
    border: none;
    width: 40px;
    height: 40px;
    background: url(../images/synthLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}

.drumMute img {
    display: block;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.fxSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding-top: 7px;
    height: 100px;
}

.fx1 {
    
    width: 30%;
    text-align: center;
}

.fx2 {
   
    width: 30%;
    text-align: center;
}

.fx3 {
   
    width: 30%;
    text-align: center;
}
.controlPanel p.fxName{
    background: none;
    color: #a6a6a6;
    padding: 0;

}

.fxButton1_off {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fx1_little.png) no-repeat;
}

.fxButton2_off {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fx2_little.png) no-repeat;
}

.fxButton3_off {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fx3_little.png) no-repeat;
}

.fxButton1_on {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fx1_on_little.png) no-repeat;
}

.fxButton2_on {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fx2_on_little.png) no-repeat;
}

.fxButton3_on {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fx3_on_little.png) no-repeat;
}
.presetOption{
    display: flex;
    flex-direction: row;
    
}
.presetLeft{}
.presetRight{}

.controlPanel p {
    margin: 0;
    background: #a6a6a6;
    padding: 6px 10px;
    color: #f7f7f7;
}
.controlPanel select{
    width: 147px;
}

button:focus {
    outline: 0;
}
