
.logo{
    margin-top:10px;
    display: inline-block;
    width: 150px;
    height:45px;
    margin-right: 0px;
}
 .logo img{
   /* padding-top: 20px;*/
  display: block;
  max-width:150px;
  max-height:45px;
  width: auto;
  height: auto;
}
 .mute img{

  display: block;
  max-width:99px;
  max-height:69px;
  width: auto;
  height: auto;
}
.bpmResult{
    display: flex;
    flex-direction: row;
}

.drumMachineDiv{
    display: flex;
    flex-direction: row;
}
.quarterNote{
    background: url(../images/quarter_Note.png) no-repeat;
}
.drumInfo{display: flex;
   /* border-style: solid;
    border-radius: 6px;
    color: #999999;*/
    flex-direction: column;
    width: 100px;}
.noteInfo {
    display: flex;
    justify-content: center;
    padding-top: 5px;
   /* border-style: solid;
    border-radius: 6px;*/
    height:50px;
    /*background-color: red;*/
}
.noteInfo img{
  display: block;
  max-width:85px;
  max-height:45px;
  width: auto;
  height: auto;
    /*background-color: red;*/
}
.sampleSelect img{
  display: block;
  max-width:100px;
  max-height:24px;
  width: auto;
  height: auto;
    /*background-color: red;*/
}
.sampleSelect {
    
   /* border-style: solid;
    border-radius: 6px;*/
    padding-left: 10px;
    height:24px;
    /*background-color: red;*/
}
.mute {
    
    padding-left: 20px;
    height:70px;
    
}
.InstrumentBox {
    display: flex;
    border-style: solid;
    border-radius: 6px;
    color: #999999;
    flex-direction: column;
    width: 100px;
}

.drumMachineBox {
    width: 99%;
    height: 50px;
}


.muteDiv {
    display: flex;
    justify-content: center;
}

.kickMuteButton {
    border: none
    ;
    width: 70px;
    height: 70px;
    background: url(../images/kickLogoYellow.png) no-repeat;
}

.kickMuteButtonOff {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/kickLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}
.snareMuteButton {
    border: none
    ;
    width: 70px;
    height: 70px;
    background: url(../images/snareLogoYellow.png) no-repeat;
}

.snareMuteButtonOff {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/snareLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}
.hihatMuteButton {
    border: none
    ;
    width: 70px;
    height: 70px;
    background: url(../images/hihatLogoYellow.png) no-repeat;
}

.hihatMuteButtonOff {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/hihatLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}
.FXMuteButton {
    border: none
    ;
    width: 70px;
    height: 70px;
    background: url(../images/fxLogoYellow.png) no-repeat;
}

.FXMuteButtonOff {
    border: none;
    width: 70px;
    height: 70px;
    background: url(../images/fxLogoBlack.png) no-repeat;
    background-size: 10% 10% background-color: transparent;
}
.muteSampleDiv {
    display: flex;
    justify-content: space-around;
    padding: 2px;
}

.SampleSelection {
    background: #ffc600;
    border: none
    ;
    border-radius: 3px;
    font-family: Helvetica;
    color: #FFF;
    font-size: 10px;
    text-decoration: none;
    width: 32%;
    min-height: 20px;
}

.SampleSelectionOff {
    background: #999999;
    border: none;
    border-radius: 3px;
    font-family: Helvetica;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    width: 32%;
    min-height: 20px;
}

button:focus {
    outline: 0;
}